@import (reference) '../../../globals/Globals';

.player-creation-screen {
   width: 100%;

   input {
      margin-bottom: @padding-margin-medium;
   }

   &__continue {
      margin: @padding-margin-large auto;
      text-align: center;
      font-size: @font-size-extra-large;
      height: 60px;
   }
}